[submodule "Arduino-Makefile"]
	path = submodules/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
	branch = master
[submodule "submodules/ATTinyCore"]
	path = submodules/ATTinyCore
	url = https://github.com/SpenceKonde/ATTinyCore
	branch = master
