/TinyAudioBoot/SendOnlySoftwareSerial.d
/TinyAudioBoot/SendOnlySoftwareSerial.o
/TinyAudioBoot/SendOnlySoftwareSerial.cpp.lst

/build/TinyAudioBoot.ino.lst
/build/*.bin
/build/*.map
/build/*.cpp.lst
/build/*.d
/build/*.o

bootloaderbuild/main.bin
bootloaderbuild/main.cpp.lst
bootloaderbuild/main.d
bootloaderbuild/main.hex
bootloaderbuild/main.map
bootloaderbuild/main.o

/build/main.hex
/java_source/test.wav
/build/test.wav
/TinyAudioBoot/bin