/TinyAudioBoot/SendOnlySoftwareSerial.d
/TinyAudioBoot/SendOnlySoftwareSerial.o
/TinyAudioBoot/SendOnlySoftwareSerial.cpp.lst

/build/TinyAudioBoot.ino.lst
/build/*.bin
/build/*.map
/build/*.cpp.lst
/build/*.d
/build/*.o

/bootloaderbuilder/TinyAudioBoot.ino.lst
/bootloaderbuilder/*.bin
/bootloaderbuilder/*.map
/bootloaderbuilder/*.cpp.lst
/bootloaderbuilder/*.d
/bootloaderbuilder/*.o

/build/main.hex
/java_source/test.wav
/build/test.wav
/TinyAudioBoot/bin